<div>
    </div><label>Title</label>
    <input type="text" name="title" value="<%= event.title%>">
</idv>
<div>
    <label>Description</label>
    <textarea name="description"><%= event.description%></textarea>
</div>

<div>
    <label>Image</label>
    <input type="file" name="cover">
</div>

<div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
            <input name="startingDate" type='text' class="form-control" value="<%=event.startingDate%>" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class='col-sm-6'>
        <div class="form-group">
          <div class='input-group date' id='datetimepicker2'>
            <input name="closingDate" type='text' class="form-control" value="<%=event.closingDate%>" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
