<form action='/makepost' method='post'>
    <p>Title: <input type='text' name='title' </p>
    <p>Content: <input type='text' name='body' </p>
    <!-- <p>Author: <input type='text' name='author' </p> -->
    <p><input type='submit' value='post'></p>
  </form>