<form action='/makepost' method='post' enctype="multipart/form-data">
    <p>Title: <input type='text' name='title' </p>
    <p>Content: <input type='text' name='body' </p>
    <div class="form-group"> <label>Profile Image</label><input class="form-control" name="profileimage" type="file" />
    <p><input type='submit' value='post'></p>
  </form>