
 a {
  color: #00B7FF;
}

ul.success {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style: none;
}
ul.error {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #a94443;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}


.events-description {
  padding-bottom: 60px;

}
.postcomments {
  display: none;
}

.comment-form-background.col-md-12 {
 
  background-color: rgb(100, 96, 97);

}


/* #wrap{

  } */

  /* p{
  margin-left: 5px;
  padding: 8px;
  padding-left: 20px;
  position: relative;
  left: 19%;
  } */
  #name{
  box-shadow: 0 2px 0 #e6e6e6;
 
  }
  

  #comment{
  
  box-shadow: 0 2px 0 #e6e6e6;
 
  width: 100%;

  /* position: relative;
  left: 14%; */
  
  }
  #commentSubmit{
  font-size: 20px;
  font-weight: bold;
  }

  #commentSubmit:hover {
  background-color: #09466f;
  
  }
  
  /* p{
  font-size: 18px;
  color: gray;
  padding-bottom: 15px;
  padding-top: 15px;
  } */
  p1{
  font-size: 18px;
  padding-top: 20px;
  position: relative;
  left: 14%;
  } 
  

  
  .center,
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #click {
    display: none;
  }
  .click-me {
    display: block;
   
    background: #27ae60;
    border: 1px solid #26a65b;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
   
  }
  .click-me:hover {
    background: #219150;
  }
  .content {
    opacity: 0;
    visibility: hidden;
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 3px;
    transition: 0.3s ease-in;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  }
  #click:checked ~ .content {
    opacity: 1;
    visibility: visible;
  }
  .popupheader {
    height: 68px;
    background: #27ae60;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .popupheader h2 {
    color: white;
    font-weight: normal;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
  .fa-times {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #e8f7fc;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .fa-check {
    font-size: 50px;
    color: #27ae60;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 2px solid #27ae60;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 30px 0 0 160px;
  }
  #thankyou {
    padding-top: 10px;
    font-size: 15px;
    color: #1a1a1a;
    text-align: center;
   
  }
  .line {
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 1px;
    background: silver;
  }
  .close-btn {
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .close-btn:hover {
    background: #27ae60;
    color: white;
    transition: 0.5s;
  }
  

  /* yes and now colum */
  .columnContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
  }



/* this is starting and ending date css */
  .eventstartingdateclass {
    position: relative;
    left: 10px;
    margin: 1%;
    color: hsl(316, 100%, 7%);
    font-weight: bold;
    font-size: 15px;

  }
  .eventendingdateclass {
    position: relative;
    left: 10px;
    margin: 1%;
    color: hsl(316, 100%, 7%);
    font-weight: bold;
    font-size: 15px;
  }
  .eventendingdateclass.at {
   color: red;
   font-size: 15px;
   font-style: italic;
  }
  .eventstartingdateclass.at {
    color: red;
   font-size: 15px;
   font-style: italic;

  }

  
  /* this is for events index.ejs */

  ul {
    margin: 0px;
    padding: 0px;
}
a:focus, a:hover, .portfolio-cat a:hover, .footer -menu li a:hover {
    color: #2B96CC;
    text-decoration: none;
}
.section-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.blog-area {
    background: #F8F9FA;
    min-height: 100vh;
}
.blog-wrapper {
  background: #fff;
  overflow: hidden;
  padding: 20px;
}
.home-blog-wrapper{
  transition: .3s;
}
.blog-wrapper.home-blog-wrapper:hover {
  box-shadow: 10px 20px 30px rgba(0,0,0,.12);
}
.blog-thumb {
  margin-bottom: 20px;
}
.blog-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.4;
  margin: 10px 0 15px;
  padding: 0;
  text-align: left;
}
.blog-content.home-blog h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.blog-content.home-blog p {
  margin-bottom: 10px;
}
.link-box.home-blog-link a {
  font-size: 14px;
  color: #ff5e14;
}
.blog-title a {
  color: #222;
}
.link-box a {
  color: #555;
}
.link-box a:hover {
  color: #ff5e14;
}
.blog-title a:hover {
  color: #ff5e14;
}
.meta-info ul li {
  color: #9e9e9e;
  display: inline-block;
  font-size: 11px;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.embed-responsive {
  margin-bottom: 20px;
}
.meta-info ul li:first-child{padding-left:0}
.meta-info ul li a{color:#ff5e14}
.meta-info ul li a:hover{color:#444}
.meta-info ul li::before {
  border: 1px solid #999;
  border-radius: 5px;
  content: "";
  height: 5px;
  left: -4px;
  position: absolute;
  top: 6px;
  width: 5px;
}
.meta-info ul li:first-child:before{display:none}
.blog-thumb img {
  width: 100%;
}
.link-box a {
  font-weight: 600;
}

.event-title-background {
  padding-top: 140px;
 
}
.event-title{
  
  font-weight: bolder !important;
  font-size: 20px;
  margin: 2vw;
  background-color: lightblue;
}

.event-title-theme{
  font-weight: bolder !important;
  font-size: 20px;
  background-color:rgb(39, 1, 28) ;
  color: white;
  
}
.show-event-image {
  margin-top: 10px
}

/* show events datetime */
.show-event-start1.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;
}

.show-event-start2.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;
  color: red;
 
}

.show-event-start3.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;

}
.show-event-start4.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;
}

.table.table-striped.table-dark{
  width: auto;
}


/* blog post index view */



figure {
	display: block;
	background-color: #fff;
	-ms-interpolation-mode: bicubic;
}

figure img {
	display: block;
	width: auto;
	max-width: 100%;
}

/**
 * Variables 
 */
:root {
	--master-color: #c19f63;
	--master-color-partner-dark: #7c591d;
	
	--headings-color: #263358;	
	
	--main-bg-color: #fff;
	--secondary1-bg-color: #f6f6f6;
	--secondary2-bg-color: #fff0ec;
	
	--main-txt-color: #333;
	--secondary-txt-color: #757575;
	
	--sub-color: #b4b4b4;
}

/** 
 * Typography 
 */


a:hover {
	color: var(--master-color-partner-dark);
}

a:focus {
	color: var(--headings-color);
	background-color: var(--secondary2-bg-color); 
}


 
main {
	min-height: 100vh;
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 1.5em;
} 

/**
 * Post List Layout
 */
.post-list_columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
    align-items: stretch;
}

.post-list__post {
	display: grid;
	grid-template-areas:
        "pr_img"
        "header"
        "text"
        "footer";
    align-items: start;
    grid-gap: 1em 2em;
}

.post__preview-img {
	grid-area: pr_img;
}

.post__header {
	grid-area: header;
}

.post__announce {
	grid-area: text;
}

.post__meta {
	grid-area: footer;
    align-self: start;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/**
 * Post List Design
 */
.post-list {
	margin-bottom: 4em;
} 
 
.post {
	position: relative;
	padding: 0 1.6em 1.6em;
}

.post:after {
    content: '';
    display: block;
    position: absolute;
    top: 1.6em;
    right: 0;
    bottom: 0;
    left: 0;
    border: 3px var(--master-color) solid;
    border-image: linear-gradient(110deg, #c19f63, #c6972b, #f5cd87, #c6972b, #c19f63) 1;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.post:hover:after {
	opacity: 1;
}

.post > * {
	z-index: 4;
	position: relative;
}

.post__preview-img {
	width: 100%;
	height: 0;
	margin: 0 auto;
	padding-bottom: 56.25%;
	position: relative;
	overflow: hidden;
}

.post__preview-img img {
	width: 100%;
    height: auto;
    position: absolute;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    margin: auto;
}

.post__time {
	display: block;
	margin-bottom: .5em;
	color: var(--sub-color);
}

.post__announce { 
	line-height: 1.6em;
	font-weight: 400;
}

.post__meta a {
	color: var(--sub-color);
	text-decoration: none;
	border-bottom: 1px var(--sub-color) solid;
}

.post__meta a:hover {
	color: var(--master-color-partner-dark);
}

.post__comments {
	position: relative;
	padding-left: 24px;
}

.post__comments:before,
.post__comments:after {
	content: '';
	display: block;
	position: absolute;
	border: 1px var(--sub-color) solid;
}

.post__comments:before {
	width: 16px;
	height: 11px;
	border-radius: 50%;
	left: 0;
	top: calc(50% - 8px);
	z-index: 1;
}

.post__comments:after {
	width: 3px;
    height: 6px;
    border-width: 0 1px 1px 0;
    transform: rotate(31deg);
    top: 50%;
    left: 11px;
	z-index: 2;
	background-color: var(--secondary1-bg-color);
} 


/**
 * Breakpoint 900px
 */
@media all and (max-width: 900px) { 
	.post {
		border-bottom: 3px var(--master-color) solid;
	}

	.post:after {
		border-bottom: none; 
	} 
} 

/**
 * Breakpoint 425px
 */
@media all and (max-width: 425px) {
	.post-list_columns {
		grid-template-columns: 1fr;
	}
}

/* blog post index view end here  */