
 a {
  color: #00B7FF;
}

ul.success {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  list-style: none;
}
ul.error {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #a94443;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}


.events-description {
  padding-bottom: 60px;

}
.postcomments {
  display: none;
}

.comment-form-background.col-md-12 {
 
  background-color: rgb(100, 96, 97);

}


/* #wrap{

  } */

  /* p{
  margin-left: 5px;
  padding: 8px;
  padding-left: 20px;
  position: relative;
  left: 19%;
  } */
  #name{
  box-shadow: 0 2px 0 #e6e6e6;
 
  }
  

  #comment{
  
  box-shadow: 0 2px 0 #e6e6e6;
 
  width: 100%;

  /* position: relative;
  left: 14%; */
  
  }
  #commentSubmit{
  font-size: 20px;
  font-weight: bold;
  }

  #commentSubmit:hover {
  background-color: #09466f;
  
  }
  
  /* p{
  font-size: 18px;
  color: gray;
  padding-bottom: 15px;
  padding-top: 15px;
  } */
  p1{
  font-size: 18px;
  padding-top: 20px;
  position: relative;
  left: 14%;
  } 
  

  
  .center,
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #click {
    display: none;
  }
  .click-me {
    display: block;
   
    background: #27ae60;
    border: 1px solid #26a65b;
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
   
  }
  .click-me:hover {
    background: #219150;
  }
  .content {
    opacity: 0;
    visibility: hidden;
    width: 300px;
    height: 350px;
    background: white;
    border-radius: 3px;
    transition: 0.3s ease-in;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.4);
  }
  #click:checked ~ .content {
    opacity: 1;
    visibility: visible;
  }
  .popupheader {
    height: 68px;
    background: #27ae60;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  }
  .popupheader h2 {
    color: white;
    font-weight: normal;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
  .fa-times {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #e8f7fc;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .fa-check {
    font-size: 50px;
    color: #27ae60;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 2px solid #27ae60;
    text-align: center;
    padding-top: 13px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 30px 0 0 160px;
  }
  #thankyou {
    padding-top: 10px;
    font-size: 15px;
    color: #1a1a1a;
    text-align: center;
   
  }
  .line {
    position: absolute;
    bottom: 65px;
    width: 100%;
    height: 1px;
    background: silver;
  }
  .close-btn {
    position: absolute;
    bottom: 12px;
    right: 25px;
    border: 1px solid #27ae60;
    border-radius: 3px;
    color: #27ae60;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .close-btn:hover {
    background: #27ae60;
    color: white;
    transition: 0.5s;
  }
  

  /* yes and now colum */
  .columnContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
  }



/* this is starting and ending date css */
  .eventstartingdateclass {
    position: relative;
    left: 10px;
    margin: 1%;
    color: hsl(316, 100%, 7%);
    font-weight: bold;
    font-size: 15px;

  }
  .eventendingdateclass {
    position: relative;
    left: 10px;
    margin: 1%;
    color: hsl(316, 100%, 7%);
    font-weight: bold;
    font-size: 15px;
  }
  .eventendingdateclass.at {
   color: red;
   font-size: 15px;
   font-style: italic;
  }
  .eventstartingdateclass.at {
    color: red;
   font-size: 15px;
   font-style: italic;

  }

  
  /* this is for events index.ejs */

  ul {
    margin: 0px;
    padding: 0px;
}
a:focus, a:hover, .portfolio-cat a:hover, .footer -menu li a:hover {
    color: #2B96CC;
    text-decoration: none;
}
.section-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}

.blog-area {
    background: #F8F9FA;
    min-height: 100vh;
}
.blog-wrapper {
  background: #fff;
  overflow: hidden;
  padding: 20px;
}
.home-blog-wrapper{
  transition: .3s;
}
.blog-wrapper.home-blog-wrapper:hover {
  box-shadow: 10px 20px 30px rgba(0,0,0,.12);
}
.blog-thumb {
  margin-bottom: 20px;
}
.blog-title {
  display: inline-block;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.4;
  margin: 10px 0 15px;
  padding: 0;
  text-align: left;
}
.blog-content.home-blog h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.blog-content.home-blog p {
  margin-bottom: 10px;
}
.link-box.home-blog-link a {
  font-size: 14px;
  color: #ff5e14;
}
.blog-title a {
  color: #222;
}
.link-box a {
  color: #555;
}
.link-box a:hover {
  color: #ff5e14;
}
.blog-title a:hover {
  color: #ff5e14;
}
.meta-info ul li {
  color: #9e9e9e;
  display: inline-block;
  font-size: 11px;
  padding: 0 12px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
.embed-responsive {
  margin-bottom: 20px;
}
.meta-info ul li:first-child{padding-left:0}
.meta-info ul li a{color:#ff5e14}
.meta-info ul li a:hover{color:#444}
.meta-info ul li::before {
  border: 1px solid #999;
  border-radius: 5px;
  content: "";
  height: 5px;
  left: -4px;
  position: absolute;
  top: 6px;
  width: 5px;
}
.meta-info ul li:first-child:before{display:none}
.blog-thumb img {
  width: 100%;
}
.link-box a {
  font-weight: 600;
}


/* @media (max-width: 576px) {
  .container.event-show.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 100%;
  }
} */
/* 
@media (max-width: 768px) {
  .container.event-show.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .container.event-show.col-6 {
  
    width: 100%;
  }
} */



/* @media only screen and (max-width: 1024px) and (min-width: 360px)  {
  .columnContainer  {
    position: relative !important;
    right: 135px;
  }
} */





/* @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  p.event_comment_description.text-center {
   text-align: center !important;
   font-size: 2vw; 
    
  }
} */




.event-title-background {
  padding-top: 140px;
 
}
.event-title{
  
  font-weight: bolder !important;
  font-size: 20px;
  margin: 2vw;
  background-color: lightblue;
}

.event-title-theme{
  font-weight: bolder !important;
  font-size: 20px;
  background-color:rgb(39, 1, 28) ;
  color: white;
  
}
.show-event-image {
  margin-top: 10px
}

/* show events datetime */
.show-event-start1.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;
}

.show-event-start2.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;
  color: red;
 
}

.show-event-start3.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;

}
.show-event-start4.text-secondary {
  font-size: 2vw;
  font-weight: bold;
  padding-left: 10px;
}

.table.table-striped.table-dark{
  width: auto;
}

