<%- include('../partials/header.ejs') %> 
<main role="main">
    <ul class="flexgrid columns-news">
        <% galleries.forEach(gallery => { %>
            <li>   
                
                    <span class="grid-number"><%=gallery.title %></span>
                    <figure class="gallery-image">
                        <img src="<%= gallery.galleryImage %>" alt="">
                        <figcaption>
                
                        
                        </figcaption>
                    </figure>
            </li>

        <% });%> 
    </ul>

</main>