<div>
    <label>Type</label>
    <select name="programtype" id="selectNumber">
        <option>Choose</option>
    </select>
</idv>
<div>
    <label>Title</label>
    <input name="title">
</div>
<div>
    <label>Description</label>
    <textarea name="description"></textarea>
</div>

<div>
    <label>Image</label>
    <input type="file" name="cover">
</div>
