<div>
    <label>Type</label>
    <select name="programtype" id="selectNumber" >
        <option ><%= program.programtype%></option>
    </select>
</idv>
<div>
    <label>Title</label>
    <input name="title" value="<%= program.title %>">
</div>
<div>
    <label>Description</label>
    <textarea name="description" ><%= program.title %></textarea>
</div>

<div>
    <label>Image</label>
    <input type="file" name="cover">
</div>
