<div>
    </div><label>Title</label>
    <input type="text" name="title" value="<%= post.title %>">
</idv>
<div>
    <label>Description</label>
    <textarea name="description"><%= post.description %></textarea>
</div>
<div>
    <label>From</label>
    <input type="text" name="from" value="<%= post.from %>">
</div>
<div>
    <label>Image</label>
    <input type="file" name="cover">
</div>