<%- include('../partials/header.ejs') %> 
<main role="main">
    <ul class="flexgrid columns-news">
        <% posts.forEach(post => { %>
            <li>   
                <a href="/posts/<%=post.id%>/comments" >
                    <span class="grid-number"><%=post.title %></span>
                    <figure class="gallery-image">
                        <img style="	display: block;
                            width: 100%;
                            height: 60%;
                             object-fit: cover;
                            transition: transform 400ms ease-out;" src="<%= post.coverImagePath %>" >
                        
                    </figure>
                </a>
            </li>
        <% })%> 
    </ul>
</main>