<h1>Send Us Your Prayer Request</h1>
<% if (locals.errors) { %>
    <ul>
        <% Object.values(errors).forEach(function(error){ %>
              <li class="alert-danger"><%= error.msg %></li>
        <% }); %>
    </ul>
    <% } %>
<form method="POST" action="/contact_form">
    <label>Name</label>
    <input type="text" name="name" id="name" placeholder="Enter Your Name">
    <label>Email</label>
    <input type="text" name="email" id="email" placeholder="Enter Your Email">
    <label>Request</label>
    <textarea  name="request" id="request" placeholder="Enter Your  Prayer Request" cols="30" rows="10"></textarea>
    <button type="submit"> Submit </button>
</form>

